<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="{{url_for('static', filename='/assets/img/Logo2.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link href="{{url_for('static', filename='/assets/css/style1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

    <title>UCO BANK | Member Approval</title>
</head>

<body>
  {% include 'home/header.html' %}
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="row">
        <div class="col-md-8">
            <div class="pagetitle">
            <h1>Member Approval</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item"></li>Admin Updates</li>
                <li class="breadcrumb-item active">Member Approval</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-4"><div class="title" style="text-align: end;">
          <p><b>Regd. 203, Hari Om Commercial Complex</b> <br> New Dak Bunglow Road, Patna-800001   </p>
        </div></div>

    </div>


   


<div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Member Details </h5>

              <!-- Horizontal Form -->
              <form style="margin-top: -20px;">
                <div class="row" style="margin-bottom: -20px;">
                  <label for="#" class="col-sm-6 col-form-label">Member Name:  {{ member.firstname }} </label>
                  <div class="col-sm-6">
                    <input type="text" class="border-0 bg-transparent" disabled placeholder="">
                  </div>
                </div>
                <div class="row" style="margin-bottom: -20px;">
                    <label for="#" class="col-sm-6 col-form-label">Last Name: {{ member.lastname }} </label>
                    <div class="col-sm-6">
                      <input type="text" class="border-0 bg-transparent" disabled>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: -20px;">
                    <label for="#" class="col-sm-6 col-form-label">Member D.O.B: {{ member.dob }} </label>
                    <div class="col-sm-6">
                      <input type="text" class="border-0 bg-transparent" disabled>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Age: {{ member.age }} </label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
               
                    <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">Gender: {{ member.gender }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                          <label for="#" class="col-sm-6 col-form-label">Status: {{ member.status }} </label>
                          <div class="col-sm-6">
                            <input type="text" class="border-0 bg-transparent" disabled>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: -20px;">
                          <label for="#" class="col-sm-6 col-form-label">Guardian Name
                            : {{ member.guardian_firstname }} </label>
                          <div class="col-sm-6">
                            <input type="text" class="border-0 bg-transparent" disabled>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: -20px;">
                            <label for="#" class="col-sm-6 col-form-label">Guardian Relation: {{ member.guardian_relation }} </label>
                            <div class="col-sm-6">
                              <input type="text" class="border-0 bg-transparent" disabled>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: -20px;">
                            <label for="#" class="col-sm-6 col-form-label">Phone: {{ member.phoneno }} </label>
                            <div class="col-sm-6">
                              <input type="text" class="border-0 bg-transparent" disabled>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: -20px;">
                            <label for="#" class="col-sm-6 col-form-label">Email Id
                                : {{ member.email }} </label>
                            <div class="col-sm-6">
                              <input type="text" class="border-0 bg-transparent" disabled>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">House/Flat No.: {{ member.address_line1 }} </label>
                              <div class="col-sm-6">
                                <input type="email" class="form-control" hidden>
                              </div>
                            </div>
                          <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">Street no./Area: {{ member.address_line2 }} </label>
                              <div class="col-sm-6">
                                <input type="email" class="form-control" hidden>
                              </div>
                            </div>
                          <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">State: {{ member.state }} </label>
                              <div class="col-sm-6">
                                <input type="email" class="form-control" hidden>
                              </div>
                            </div>
                          <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">Pincode: {{ member.pincode }} </label>
                              <div class="col-sm-6">
                                <input type="email" class="form-control" hidden>
                              </div>
                            </div>
                     
                           
               
            
                
              </form><!-- End Horizontal Form -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Member Banking Information </h5>

              <!-- Horizontal Form -->
              <form style="margin-top: -20px;">
                <div class="row" style="margin-bottom: -20px;">
                  <label for="#" class="col-sm-6 col-form-label">Bank Name: {{ member.bankname }} </label>
                  <div class="col-sm-6">
                    <input type="text" class="border-0 bg-transparent" disabled>
                  </div>
                </div>
                <div class="row" style="margin-bottom: -20px;">
                    <label for="#" class="col-sm-6 col-form-label">Branch Name: {{ member.branchName }} </label>
                    <div class="col-sm-6">
                      <input type="text" class="border-0 bg-transparent" disabled>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: -20px;">
                    <label for="#" class="col-sm-6 col-form-label">Account No.: {{ member.accountno }} </label>
                    <div class="col-sm-6">
                      <input type="text" class="border-0 bg-transparent" disabled>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Category: {{ member.category }} </label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
               
                    <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">IFSC Code: {{ member.ifsc_code }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                          <label for="#" class="col-sm-6 col-form-label">MICR Code: {{ member.micr_code }} </label>
                          <div class="col-sm-6">
                            <input type="text" class="border-0 bg-transparent" disabled>
                          </div>
                        </div>
                       
                     
                           
               
            
                
              </form><!-- End Horizontal Form -->

            </div>
          </div>

        </div>

        <div class="col-lg-6">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">KYC Details</h5>
  
               
                <form style="margin-top: -20px;">
                    <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">PF No: {{ member.pf_no }} </label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">Gender: {{ member.gender }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">ID Proof Name: {{ member.id_proof_name }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                          <label for="#" class="col-sm-6 col-form-label">ID Proof No: {{ member.id_proof_no }} </label>
                          <div class="col-sm-6">
                            <input type="text" class="border-0 bg-transparent" disabled>
                          </div>
                        </div>
                   
                        <div class="row" style="margin-bottom: -20px;">
                            <label for="#" class="col-sm-6 col-form-label">Address Proof: {{ member.address_proof_name }} </label>
                            <div class="col-sm-6">
                              <input type="text" class="border-0 bg-transparent" disabled>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">Address Proof No: {{ member.address_proof_no }} </label>
                              <div class="col-sm-6">
                                <input type="text" class="border-0 bg-transparent" disabled>
                              </div>
                            </div>
                            <div class="row" style="margin-bottom: -20px;">
                              <label for="#" class="col-sm-6 col-form-label">Sign. Proof Name: {{ member.sign_proof_name }} </label>
                              <div class="col-sm-6">
                                <input type="text" class="border-0 bg-transparent" disabled>
                              </div>
                            </div>
                            <div class="row" style="margin-bottom: -20px;">
                                <label for="#" class="col-sm-6 col-form-label">PAN Card No: {{ member.pan_no }} </label>
                                <div class="col-sm-6">
                                  <input type="text" class="border-0 bg-transparent" disabled>
                                </div>
                              </div>
                              <div class="row" style="margin-bottom: -20px;">
                                <div class="col-sm-6">
                                    <img src="/static/assets/img/{{ member.image1}}" height="100px">                                </div>
                                                                   </div>
                              <div class="row mt-4 mb-1" style="margin-bottom: -20px;">
                                <div class="col-sm-6">
                                    <img src="/static/assets/img/{{ member.image2}}" height="50px">                                </div>
                              </div>
                             
                         
                   
                   
                
                    
                  </form><!-- End Horizontal Form -->
  
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    Nominee Details </h5>
    
                  <!-- Horizontal Form -->
                  <form style="margin-top: -20px;">
                    <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Nominee Name: {{ member.nomi_name }} </label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">D.O.B: {{ member.nomi_dob }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                        <label for="#" class="col-sm-6 col-form-label">Age: {{ member.nomi_age }} </label>
                        <div class="col-sm-6">
                          <input type="text" class="border-0 bg-transparent" disabled>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: -20px;">
                          <label for="#" class="col-sm-6 col-form-label">Relation: {{ member.nomi_relation }} </label>
                          <div class="col-sm-6">
                            <input type="text" class="border-0 bg-transparent" disabled>
                          </div>
                        </div>
                   
                        <div class="row" style="margin-bottom: -20px;">
                            <label for="#" class="col-sm-6 col-form-label">Per. Of Share: {{ member.nomi_per_share }} </label>
                            <div class="col-sm-6">
                              <input type="text" class="border-0 bg-transparent" disabled>
                            </div>
                          </div>
                         
                           
                         
                               
                   
                
                    
                  </form><!-- End Horizontal Form -->
    
                </div>
              </div>
          
  
          </div>

          
          <!-- <div class="d-grid mt-4 gap-2 col d-md-flex justify-content-md-center">
            <a class="btn btn-outline-success" href="/approve_member/{{ member.userid }}">Approve</a>
            <a class="btn btn-outline-danger" href="/deny_member/{{ member.userid }}">Deny</a>
            
        </div> -->

      </div>


    

</main>
    <!-- section -->
   
    <!-- JavaSccript-->
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</main>
    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='/assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/chart.js/chart.umd.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/echarts/echarts.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/quill/quill.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/tinymce/tinymce.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/php-email-form/validate.js')}}"></script>
    
    <script src="{{url_for('static', filename='/assets/js/main.js')}}"></script>
    <footer></footer>
</body>

</html>