<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="{{url_for('static', filename='/assets/img/Logo2.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link href="{{url_for('static', filename='/assets/css/style1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

    <title>UCO BANK | Financial Report</title>
</head>

<body>
  {% include 'home/header.html' %}


<main id="main" class="main">

    <div class="row">
        <div class="col-md-8">
            <div class="pagetitle">
            <h1>Shares Report</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item"><a href="report">Reports</a></li>
                <li class="breadcrumb-item active">Shares Report</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-4"><div class="title" style="text-align: end;">
          <p><b>Regd. 203, Hari Om Commercial Complex</b> <br> New Dak Bunglow Road, Patna-800001   </p>
        </div></div>

    </div>


    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Shares Report</h5>

            <!-- Horizontal Form -->
            <form action="/Share_report_download" method="post" id="myform">
              {{ form.hidden_tag() }}
              <div class="row mb-3">
                <label for="member" class="col-sm-2 col-form-label">Member Code</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="member">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Financial Year Search</label>
                <div class="col-sm-10">
                  {{ form.FinancialYear(class="form-control") }}</div>
              </div>
              <h5 class="text-center mt-3">OR</h5>

              <div class="row mb-3">
                <div class="col-md-12">
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Search from Date</label>
                </div>
                
                  <div class="col-md-1"> <label for="from" class="col-form-label">From:</label> </div>

                  <div class="col-md-5">{{ form.FromDate(class="form-control") }}</div>
                  <div class="col-md-1"><label for="from" class="col-form-label">To:</label>
                  </div>
                  
                  <div class="col-md-5">{{ form.ToDate(class="form-control") }}</div>
              </div>

          
              <div class="text-center">
                
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
              <button type="submit"  onclick="document.forms['myform'].submit(); return false;" class="btn btn-primary">Submit</button>

                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            <!-- </form>End Horizontal Form -->
            <!-- <form action="/Thrift_Fund_report_download" method="post" id="myform"> -->
              <!-- <button role="button" onclick="document.forms['myform'].submit(); return false;"
                class="fa fa-heart-o"></button> -->
            </form>

          </div>
        </div>

      

      </div>

      
    </div>


<div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">

            <!-- Horizontal Form -->
            <form>
              <div class="row" style="margin-bottom: -20px;">
                <label for="#" class="col-sm-6 col-form-label">Financial Year:</label>
                <div class="col-sm-6">
                  <input type="text" class="border-0 bg-transparent" disabled>
                </div>
              </div>
              <div class="row" style="margin-bottom: -20px;">
                  <label for="#" class="col-sm-6 col-form-label">Total Number of Active Member:</label>
                  <div class="col-sm-6">
                  <input type="text" class="border-0 bg-transparent" disabled>
                </div>
                </div>
                <div class="row" style="margin-bottom: -20px;">
                  <label for="#" class="col-sm-6 col-form-label">Total Number of Member closed their A/C:</label>
                  <div class="col-sm-6">
                  <input type="text" class="border-0 bg-transparent" disabled>
                </div>
                </div>
                <div class="row" style="margin-bottom: -20px;">
                    <label for="#" class="col-sm-6 col-form-label">Opening Share Balance:</label>
                    <div class="col-sm-6">
                      <input type="text" class="border-0 bg-transparent" disabled>
                    </div>
                  </div>
             
                  <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Total number of shared Sold:</label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Total number of shares encashed:</label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: -20px;">
                      <label for="#" class="col-sm-6 col-form-label">Share Balance:</label>
                      <div class="col-sm-6">
                        <input type="text" class="border-0 bg-transparent" disabled>
                      </div>
                    </div>
                    
                   
             
             
          
              
            </form><!-- End Horizontal Form -->

          </div>
        </div>

      

      </div>

      
    </div>


    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body" style="overflow-x: auto;">
              <h5 class="card-title">Shares Report</h5>

              <!-- Default Table -->
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Member Code</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Opening Share Balance</th>
                    <th scope="col">Opening Share Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Purchase</th>
                    <th scope="col">Sale</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Tenure
                     </th>
                    <th scope="col">Current Share Balance
                     </th>
                     <th scope="col">Current Share Amount
                     </th>
                    <th scope="col">Summary 
                     </th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   

                  </tr>
                  <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     

                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     

                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     

                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     

                    </tr>
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>

        

         


        

        </div>

       
      </div>
    </section>

</main>
    <!-- section -->
   
    <!-- JavaSccript-->
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</main>
    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='/assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/chart.js/chart.umd.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/echarts/echarts.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/quill/quill.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/tinymce/tinymce.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/vendor/php-email-form/validate.js')}}"></script>
    
    <script src="{{url_for('static', filename='/assets/js/main.js')}}"></script>
    <footer></footer>
</body>

</html>